html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.col{
    border: solid 1px #cccccc;
}
@media (max-width: 992px)
{
    .card_1{
        width: 100%;
    }
  .card_2, .card_3
   {
    display: none;
   }
}
